$green-light: #55c57a;
$green: #2fad59;
$green-dark: #1a893f;

$red: rgb(197, 20, 20);
$red-light: #f04e4e;
$red-dark: #c32032;

$blue: #005da6;
$blue-light: #6fcff6;
$blue-dark: #064794;

$purple: #663399;
$purple-light: #873fcf;
$purple-dark: #542a7d;

$pink: #ff69b4;
$pink-light: #fa71b6;
$pink-dark: #e64897;

$yellow: #fddd00;
$yellow-light: #f2d82c;
$yellow-dark: #c8ad00;

$orange: orange;
$orange-light: rgb(255, 181, 43);
$orange-dark: rgb(194, 128, 5);

$grey: #777;
$grey-light: #999;
$grey-dark: #333;

$black: #231f20;
